name: Publish NuGet Package

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  packages: write

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.x'

      - name: Restore dependencies
        run: dotnet restore

      - name: Build the project
        run: dotnet build --configuration Release --no-restore

      - name: Create the NuGet package
        run: dotnet pack MongoDBHelpers.csproj --configuration Release --no-build --output ./nupkg --property:Version=1.0.${{ github.run_number }}

      - name: Publish to GitHub Packages
        env:
          NUGET_SERVER: 'https://nuget.pkg.github.com/micahmo/index.json'
          NUGET_API_KEY: ${{ secrets.GITHUB_TOKEN }}
        run: |
          dotnet nuget push "./nupkg/*.nupkg" \
            --source $NUGET_SERVER \
            --api-key $NUGET_API_KEY

      - name: Print Summary
        run: |
          PACKAGE_VERSION="1.0.${{ github.run_number }}"
          echo "### Successfully pushed NuGet package version $PACKAGE_VERSION" >> $GITHUB_STEP_SUMMARY
          echo "[View Package](https://github.com/micahmo/mongodb-helpers/pkgs/nuget/mdm.MongoDBHelpers)" >> $GITHUB_STEP_SUMMARY
